* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Segoe UI", Arial;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
}

nav {
    background: rgba(0,0,0,0.7);
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    color: #00ffd5;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background: rgba(255,255,255,0.1);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

h1 {
    text-align: center;
    color: #00ffd5;
}

p, li {
    font-size: 18px;
    line-height: 1.6;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: rgba(0,0,0,0.3);
    margin: 10px 0;
    padding: 12px;
    border-radius: 8px;
}

button {
    background: #00ffd5;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}
.profile-pic{
    width:300px;
    height:300px;
    border-radius:50%;
    border:5px solid #00ffd5;
    display:block;
    margin:20px auto;
    object-fit:cover;
}


button:hover {
    background: white;
}
.btn{
    background:#00ffd5;
    padding:10px 20px;
    text-decoration:none;
    color:black;
    border-radius:8px;
    font-weight:bold;
}
.home{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:40px;
    min-height:70vh;
    padding:40px;
}

.home-right{
    max-width:500px;
}

.home-right h1{
    font-size:36px;
}

.home-right h3{
    color:#007bff;
}

.profile-pic{
    width:220px;
    height:220px;
    border-radius:50%;
    object-fit:cover;
}

.btn{
    display:inline-block;
    margin-top:15px;
    padding:10px 20px;
    background:#007bff;
    color:white;
    text-decoration:none;
    border-radius:6px;
}



